Django
djangorestframework
djoser
Pillow
django-storages
psycopg2
psycopg2-binary
django-cors-headers
django-localflavor
timezonefinder
boto3
geopy
requests
geoip2
pycurl
celery
django-celery-email
sendgrid
kombu