<html>
	<head>
		<title>Reso</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../../static/ecommerce/assets/css/main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body class="is-preload">

    <header id="header">
      <a class = "logo"><strong><img src="Component 1.png" alt="logo.png" width="39vw" height="60vw"></strong> </a>
      <ul class="icons">
        <li><a href="venuehome.html" ><span class="button">Change Data</span></a></li>
        <li><a href="pricing.html" ><span class="button">Change Subscription</span></a></li>

      </ul>
    </header>
