 {% extends 'ecommerce/base.html' %}
 {% block content %}
<div class ="container">
<div class ="card">
<h3 style="text-align: left"> Dear {{ first_name }}, <h3>
<p style="font: 10px"> This page signifies that you have successfully contacted Reso for an enterprise level collaboration. We will be sending you a quote shortly,
and a representative will be quick to help you make Reso work for your company, be it a large store or a chain. We are excited to do business with you and we're glad you
chose use to reopen.
Reso Adminstration
Sofiane Larbi
Jude Rizzo
</p>

</div>

</div>
{% endblock %}

<!-- this will look better with bootstrap ik it's ugly now but it will look better in a card with the blue return home button at the bottom :)-->