{% load static %}
<!DOCTYPE HTML>
<!--
-->
<html>
	<head>
		<title>Reso</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../../static/ecommerce/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a class = "logo"><strong><img src="Component 1.png" alt="logo.png" width="39vw" height="60vw"></strong> </a>
									<ul class="icons">
										<li><a href="venuehome.html" ><span class="button">Change Data</span></a></li>
										<li><a href="pricing.html" ><span class="button">Change Subscription</span></a></li>

									</ul>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1> Time Slots </h1>
											<p>Reopen Safely</p>
										</header>
										<p> Generate time slots for your business automatically with our built in feature. We will automaticaly generate time slots any day of the week for you, if you just complete the questionare below</p>
										<ul class="actions">
											<li><a href="quiz.html" class="button big">Let's begin</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src="Component2.png" style="border: 5px solid #f56a6a;" alt="Reso app iPhone" />
									</span>
								</section>
