
{% load static %}
			<div id="wrapper">
					<div id="main">
						<div class="inner">
								<header id="header">
									<a class = "logo"><strong><img src="{% static 'ecommerce/images/Component1.png' %}" alt="logo.png" width="39vw" height="60vw"></strong> </a>
									<ul class="icons">
										<li><a href="{% url 'signin' %}" ><span class="button">Sign in</span></a></li>
										<li><a href="{% url 'signup' %}" ><span class="button">Sign up</span></a></li>
									</ul>
								</header>
