{% extends "base" %}
<h1>Our Team</h1>
{%  startblock %}
<div id="content-title" class="full-width start-row-flex">Our Team</div>
<div class="mission-content-holder-2 full-width start-row-flex">
    <img class="headshot" src="/static/sofiane_larbi.jpg">
    <div class="column-start-flex">
        <div class="subtitle">Sofiane Larbi</div>
        <p id="mission-content" class="leadership-text">Sofiane Bio</p>
    </div>
</div>
<div class="mission-content-holder-2 full-width start-row-flex">
    <img class="headshot" src="/static/jude_rizzo.jpg">
    <div class="column-start-flex">
        <div class="person-title subtitle">Jude Rizzo</div>
        <p id="mission-content" class="leadership-text mission-p">Jude was born with a passion to learn and create. He's experienced in the development of web apps and UIs, and he uses these skills to enrich the Reso experience.</p>
    </div>
</div>
<div class="mission-content-holder-2 full-width start-row-flex">
    <img class="headshot" src="/static/cheryl_edison.JPG">
    <div class="column-start-flex">
        <div class="person-title subtitle">Cheryl Edison</div>
        <p id="mission-content" class="leadership-text mission-p">Cheryl Edison is a Silicon Valley serial entrepreneur and global business development expert with a track record of successfully launching companies, products and services into new markets across 47 industries. She uses her experience in the startup world to grow and promote Reso to companies around the world.</p>
    </div>
</div>
<div class="mission-content-holder-2 full-width start-row-flex">
    <img class="headshot" src="/static/paola_origel.jpg">
    <div class="column-start-flex">
        <div class="person-title subtitle">Paola Origel</div>
        <p id="mission-content" class="leadership-text mission-p">Paola has over 11 years of experience working for hedge funds, family offices, and private banking in New York City. Before entering finance, she worked as a computer scientist, designing and launching international E-learning programs. Her experience is used to advise Reso, aid in sales, and act as a primary legal counselor.</p>
    </div>
</div>
<!--
<div class="mission-content-holder-2 full-width start-row-flex">
    <img class="headshot" src="/static/matthew_bilik.jpg">
    <div class="column-start-flex">
        <div class="person-title subtitle">Matthew Bilik: CubeSAT and Space Technologies Co-President</div>
        <p id="mission-content" class="leadership-text mission-p">Matthew Bilik is an experienced computer and data scientist with months of work with NASA under his sleeve. Specifically, he has worked on Landsat 8 and MODIS Aqua and Terra satellites at the NASA Goddard Institute for Space Studies / Columbia Earth Institute joint lab.</p>
    </div>
</div>
-->
{% endblock %}
