<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>Pricing Table</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="./style.css">
<link rel = "shortcut icon" type="image/png" href="Component1.png">
</head>
<body>
<div class="container group">
		<div class="grid-1-5">
			<h2>Small Shop</h2>
			<h3><sup>$</sup>9.99<span class="small">/week</span></h3>
			<ul>
				<li><75 Daily Scans</li>
				<li>1 Account</li>
				<li>24/7 Support</li>
			</ul>
			<a href="" class="button">Sign Up</a>
		</div>
		<div class="grid-1-5">
			<h2>Shop</h2>
			<h3><sup>$</sup>19.99<span class="small">/week</span></h3>
			<ul>
				<li>75-150 Daily Scans</li>
				<li>1 Account</li>
				<li>24/7 Support</li>
			</ul>		
			<a href="" class="button">Sign Up</a>	
		</div>
		<div class="grid-1-5">
			<h2>Store</h2>
			<h3><sup>$</sup>29.99<span class="small">/week</span></h3>
			<ul>
				<li>150-300 Daily Scans</li>
				<li>1 Account</li>
				<li>24/7 Support</li>
			</ul>	
			<a href="" class="button">Sign Up</a>		
		</div>
		<div class="grid-1-5">
			<h2>Supermarket</h2>
			<h3><sup>$</sup>39.99<span class="small">/week</span></h3>
			<ul>
				<li>300-500 Daily Scans</li>
				<li>1-2 Accounts</li>
				<li>24/7 Support</li>
			</ul>	
			<a href="" class="button">Sign Up</a>		
		</div>
		<div class="grid-1-5">
			<h2>Enterprise</h2>
			<h3><sup>$</sup>49.99(min)<span class="small">/week</span></h3>
			<ul>
				<li>500+ Daily Scans</li>
				<li>2+ Accounts</li>
				<li>24/7 Support</li>
			</ul>
			<a href="" class="button">Sign Up</a>
		</div>		
	</div>
  
</body>
</html>
