 {% extends 'ecommerce/base.html' %}
 {% block content %}
<div class ="container">
    <div class ="card">
        <h3 style="text-align: left"> Success<h3>
        <p style="font: 10px"> 
        Your subscription was created successfully. You should recieve an email soon with instruction on how to proceed.
        If you do not recieve an email, please contact sofiane@tracery.us
        </p>
    </div>
</div>
{% endblock %}
{% comment %}
<!-- this will look better with bootstrap ik it's ugly now but it will look better in a card with the blue return home button at the bottom :)-->
{% endcomment %}