<!DOCTYPE HTML>
<!--
-->
<html>
	<head>
		<title>Reso</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'ecommerce/assets/css/main.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <meta charset="utf-8" />
  </head>

  <body>

  <div>
                              <table id="user" class="table table-bordered table-striped">
                                  <tbody>
                                      <tr>
                                          <td width="30%">Business Name</td>
                                          <td><a href="#" id="Business Name" data-type="text" data-pk="1" data-name="username" data-original-title="Enter username" class="editable">Business Name</a></td>

                                      </tr>
                                      <tr>
                                          <td>Address Line 1 </td>
                                          <td><a href="#" id="Address1" data-type="text" data-pk="1" data-name="address1" data-placement="right" data-placeholder="Required" data-original-title="Enter your firstname" class="editable"> Address Line 1</a></td>

                                      </tr>
                                      <tr>
                                          <td>Address Line 2 </td>
                                          <td><a href="#" id="Address1" data-type="text" data-pk="1" data-name="address2" data-placement="right" data-placeholder="Required" data-original-title="Enter your firstname" class="editable"> Address Line 1</a></td>

                                      </tr>
                                      <tr>
                                          <td>Phone Number</td>
                                          <td><a href="#" id="Address1" data-type="text" data-pk="1" data-name="phonenumber" data-placement="right" data-placeholder="Required" data-original-title="Enter your firstname" class="editable"> Address Line 1</a></td>

                                      </tr>
                                      <tr>
                                          <td>Business Description </td>
                                          <td><a href="#" id="Address1" data-type="text" data-pk="1" data-name="businessdescription" data-placement="right" data-placeholder="Required" data-original-title="Enter your firstname" class="editable"> Address Line 1</a></td>

                                      </tr>

                                      <tr>
                                          <td>City </td>
                                          <td><a href="#" id="Address1" data-type="text" data-pk="1" data-name="city" data-placement="right" data-placeholder="Required" data-original-title="Enter your firstname" class="editable"> Address Line 1</a></td>

                                      </tr>


                                      <tr>
                                          <td>State </td>
                                          <td><a href="#" id="Address1" data-type="text" data-pk="1" data-name="state" data-placement="right" data-placeholder="Required" data-original-title="Enter your firstname" class="editable"> Address Line 1</a></td>

                                      </tr>

                                      <tr>
                                          <td>Country </td>
                                          <td><a href="#" id="Address1" data-type="text" data-pk="1" data-name="country" data-placement="right" data-placeholder="Required" data-original-title="Enter your firstname" class="editable"> Address Line 1</a></td>

                                      </tr>




                                  </tbody>
                              </table>


                          </div>

  </body>
  </html>
