<!DOCTYPE HTML>
{% load static %}
<!--
-->
<html>
	<head>
		<title>Reso</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'ecommerce/assets/css/main.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <meta charset="utf-8" />
  </head>

  <!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Your account</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
            class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
          <tr>
            <th class="text-center">Business Name</th>
            <td class="pt-3-half" contenteditable="true">Business Name</td>
          </tr>
          <tr>

            <th class="text-center">Address Line 1</th>
            <td class="pt-3-half" contenteditable="true"> Address Line 1</td>
          <tr>

            <th class="text-center">Address Line 2</th>
            <td class="text-center" contenteditable="true">Address Line 2</td>
            </tr>

            <tr>
              <th class="text-center">Zip Code</th>
              <td class="text-center" contenteditable="true">Zip Code</td>
          </tr>

          <tr>
            <th class="text-center">Business Desctiption</th>
            <td class="text-center" contenteditable="true">Business Description</td>
        </tr>

          <tr>
            <th class="text-center">City</th>
            <td class="text-center" contenteditable="true">City</td>
        </tr>

        <tr>
          <th class="text-center">State</th>
          <td class="text-center contenteditable="true""><select class="form-control" id="exampleFormControlSelect1">
            <option>NY</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select></td>
      </tr>


      <tr>
        <th class="text-center">Country</th>
        <td class="text-center contenteditable="true""><select class="form-control" id="exampleFormControlSelect1">
          <option>NY</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select></td>
    </tr>


      <tr>
        <th class="text-center">City</th>
        <td class="text-center">City</td>
    </tr>


        </thead>
        <tbody>



        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->
  </html>
